.alien-img {
	height: 100px;
	width: 100px;
}

.bullet {
	height: 100px;
	width: 100px;
	position: absolute;
	background-color: #000000;
	bottom: 10px;
	left: 10px;
}

#player {
	background-color: #000000;
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 50px;
	left: 50px;
}

body {
	background-color: #000000; 
}