body {
	background-color: #000000;
	font-family: "Courier New";
	color: #00FF00;
}

a {
	color: #00FF00;
}

body {
	background-image: url("../assets/background.png"); 
}

body {
	background-image: url("../assets/background.png"); 
	animation: backgroundScroll 10s linear infinite;
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0px -800px;}
}